.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    background-color: blanchedalmond;

    width: 60%;
    border-radius: 8px;
    margin-bottom: 10px;
    

}

.div1 {

}



.div2 {
    display: flex;


}

.btn {
    padding-left: 30px;
    padding-right: 30px;

    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 4px;
    color: white;

    cursor: pointer;

    margin-left: 10px;

    border: none;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.btn:hover {
    background-color: white;
    color: black;
}

.btn1 {
    background-color: #50C878;
}


.btn2 {
    background-color: #DC143C;
}




.name {

}

.email {
    color: rgba(0, 0, 0, 0.644);
}